<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd"
        default-init-method="init"
>
    <aop:aspectj-autoproxy/>
    <aop:config>
        <aop:aspect
                id="aspect"
                ref="myAspect"/>
    </aop:config>
    <bean
            id="myTask"
            class="com.devmind.springapp.Task"
            scope="prototype">
    </bean>
    <bean
            id="myAspect"
            class="com.devmind.springapp.MyAspect"
    />

    <bean
            id="mySingletonTask"
            class="com.devmind.springapp.Task"
            destroy-method="destroy">
    </bean>
</beans>

