<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
        <bean id="myDog" class="com.springapp.animals.Dog"/>
        <bean id="myMouse" class="com.springapp.animals.Mouse"/>
        <bean id="myCat" class="com.springapp.animals.Cat">
                <constructor-arg value="CAT"/>
        </bean>
</beans>

